<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.evandenerley.gauge" xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools">
    <uses-permission android:name="android.permission.INTERNET"/>
    <application
        android:name=".GaugeApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_content_add_box_white_36dp"
        android:label="@string/app_name"
        android:theme="@style/Theme.Gauge.Base">
        <!-- Hack -->
        <provider
            android:name="com.google.android.gms.measurement.AppMeasurementContentProvider"
            android:authorities="com.evandenerley.gauge.google_measurement_service"
            android:exported="false"
            tools:replace="android:authorities"/>
        <activity
            android:name=".app.MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".app.TemperatureDisplayActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="com.gauge.intent.action.DISPLAY_TEMPERATURE"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
    </application>
</manifest>
